.navbar
{
    background-color: burlywood;
    display: flex;
    width:auto;
    height: min-content;
    justify-content:end;
    font-style: none;

    > ul 
    {
        list-style-type: none;
        display: flex;
        margin: 0;
        padding: 0;

        > li 
        {
            > a 
            {
                display: flex;
                text-decoration: none;
                color: black;
                font-size: 18px;
                padding:13px;
                margin:0%;
            }
                > a:hover
                {
                    background: orangered;
                    color:white;
                }
        }
    }
}  
.hamnav 
{
     
    width: 100%;
    height: 38%;
    background: burlywood;
    display: none;
    
    >.hamburger 
    { 
        opacity: 0%;
        >.hamitems 
        { 
            display: flex;
            > a {
                flex-grow: 1;
                flex-basis: 0;
                padding: 10px;
                color: white;
                text-decoration: none;
                text-align: center;           
              }      
        }
        >.hamitems a:hover 
                { 
                    background: #af0d0d; 
                } 
    }   
}
