@import "reset";
@import "footer";
@import "navbar";
body{
    background-image: url(/Assets/Img/shutterstock_1049919614.jpg);
    background-repeat: no-repeat;
    background-size: cover;
 
}
body#Inicio
{
    > .gridinicio
    {    
 

        > .PosicionInicio 
        {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            > #TitleInicio
            {
                border-style:ridge;
                width: fit-content;
                background-color: rgb(165, 106, 28);
                border-radius: 15px;
                border-width: 20px; 
            }
        }
            > .containercards
            {
                > #cardssection
                {
                    display: flex;
                    justify-content: center;
                    margin: auto;

                    > .cardinicio
                    {
                        padding:10px;
                        > .Cardinicio-info
                        {  
                            background-color: aqua;
                            width:auto;
                            margin: auto;
                            text-align: center;
                            > h2
                            {
                                margin: auto;
                                font-size: 20px;
                                font-weight: 700;
                            }
                            
                        }
                    }    
                }   
            }  
    }          
}  
body#Productos
{
    background-image:URL(/Assets/Img/colorful-ice-cream-seamless-pattern-background-for-poster-print-cards-wrapping-paper-clothes-decoration-and-ice-cream-shop-vector.jpg); 
 
    >.gridproductos
    {
               
        >.tituloproductos
        {
            display: flex;
            justify-content:center;
            margin: auto;
        
            >.Titulo1
            {
                display: flex;
                border: 10px solid  rgb(65, 40, 124);
                border-width: 9px;
                background-color: rgb(171, 102, 250);
                border-radius: 10px;
                border-width: 10px; 
                border-left: 30px solid blue;
                border-right: 30px solid blue;
                width: auto;
                height: fit-content;
                margin: auto;
                >h1
                {
                    font-size: 35px;
                    width: auto;
                }
            }
        }
        >.Subtitulo
        {
            display: flex;
            justify-content: center;
            width: auto;
            height: min-content;
            border: solid  rgb(65, 40, 124);
            background-color: rgb(171, 102, 250);
            border-radius: 10px;
            border-width: 10px;
            width: fit-content;
            margin: auto;
        }
        >table
        {
            display: flex;
            justify-content: center;
            width: auto;
            margin: auto;
            font-size: 20px;
            background-color: antiquewhite;
            
            >tbody
                {
                    border: solid green;
                    > tr
                    {   border: solid green;
                        > th
                        {    
                            border: solid green;
                            padding: 5px;
                        }
                        >td
                        {
                            border: solid green;
                            padding: 3px
                        }
                    }
                }
        }
        >.OtrosProductos
        {
            >.TextOP
            {
                display: flex;
                justify-content: center;
                margin:auto;
                    
                > h3
                {
                    width: min-content;
                    font-size: 35px;
                    border: 10px solid  rgb(65, 40, 124);
                    border-width: 9px;
                    background-color: rgb(171, 102, 250);
                    border-radius: 10px;
                    border-width: 10px; 
                    text-align: center;
                    margin:auto;
                }
            }
            >.cardsproductos
                {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    text-align: center;
                    margin: auto;
                    width:auto;         
                    >.cardproductos
                    {
                        margin: 2vh;
                        border: 12px solid rgb(181, 222, 135);
                        background-color: antiquewhite; 
                                
                        >.Card-infoproductos
                        {                                       
                            >h4
                            { 
                                font-size: 25px;
                                border-radius: 5px;
                                color: black;
                                font-weight: 700;                               
                            }          
                            >.btnProducts
                            {
                                font-size: 20px;
                                border-radius: 5px;
                                background-color: blue;
                                color: white;
                                text-decoration: none; 
                            }
                            >.btnProducts:hover 
                            {
                            color:cyan;
                            }
                        }
                    }
                }
    
    
    
        }
    }
}

body#SN
{
    background:url(/Assets/Img/istockphoto-1278990546-612x612.jpg);

    >.gridsobrenosotros
    {

      
        >.PosicionTSN
        {
            display: flex;
            align-items: center;
            justify-content: center;
            width: auto;
            
            

            >.headerSN
            {
                width: auto;
                border: solid 10px;
                border-style:dotted;
                border-width: 10px;
                margin: auto;
            }
        }
        >.TtleSN
        {
            display: flex;
            justify-content: center;
            width: auto;
            margin: auto;   
        
            >h1
            {
                border: 10px solid  rgb(255, 255, 255);
                background-color: rgb(190, 176, 113);
                border-radius: 10px;
                border-left: 30px solid rgb(0, 0, 0);
                border-right: 30px solid rgb(0, 0, 0);
                font-size: 50px;
            }
        }
        >.PositionTextSN
        {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: auto;
            width: auto;
            height: auto;
            border: 10px solid rgb(0, 0, 0);
            background-color: whitesmoke;
            
            >div{
        
                >p
                {
                    width: auto;
                    font-size: 22px;
                } 
                }
    }
        >.positionpic
            {
                display: flex;
                justify-content: center;
                margin:auto;
                width: auto;
                height: auto;
                >.pic
                {
                    display: flex;
                    justify-content: center;
                    margin: auto;
                    width: auto;
                    height: auto;
                }
            }
    }
}

body#Ubicacion
{
    background:URL(/Assets/Img/colorful-ice-cream-seamless-pattern-background-for-poster-print-cards-wrapping-paper-clothes-decoration-and-ice-cream-shop-vector.jpg);


    >.gridubicacion
    { 

            >.PosicionTtleUbicacion
            {          
                display: flex;
                justify-content: center;
                margin: auto;
                width: auto;
                height: auto;
                padding: auto;
                >.TtleUbic
                {
                    >strong
                    {
                        width: auto;
                        margin: auto;
                        background-color: rgb(219, 52, 52);
                        border-radius: 15px;
                        border-width: 20px;
                        border:solid 5px rgb(255, 137, 2);
                        font-size: 30px;
                    }
                }
            }
            >.ContainerMap
            {
                display: flex;
                justify-content: center;
                width: auto;
                margin: auto;
                >.map
                {
                    border: solid 10px green!important;
                }               
            }
            >.TextUbic
            {
                display: flex;
                width:fit-content;
                margin: auto;
                height: auto;
                > b
                {
                    background-color:rgb(216, 101, 197);
                    border:solid 5px rgb(105, 34, 105);
                    border-radius: 15px;
                    border-width: 6px;
                    font-size: 21px;
                    margin: auto;
                    height: auto;
                    width: auto;
                }
            }
            >.posicionbtnubic
            {
                display: flex;
                justify-items: center;
                margin: auto;   
                >.btnUbicStyle
                {    
                    background-color: blue;
                    border-radius: 5px;
                    color: white;

                }
            }
            
    }
}

body#Contactarse
{     
    background:URL(/Assets/Img/colorful-ice-cream-seamless-pattern-background-for-poster-print-cards-wrapping-paper-clothes-decoration-and-ice-cream-shop-vector.jpg);

        >.gridcontactarse
        {
        
            >.PosicionHContacto
            {
                display: flex;
                justify-content: center;
                margin:auto;
                width:auto;
            
                >.headercontactarse
                {
                    border-style:ridge;
                    width: fit-content;
                    background-color: rgb(165, 106, 28);
                    border-radius: 15px;
                    border-width: 20px;  
                }
            }
            .containerformcontc
            {
                display:flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin: 24vh;
                >form
                {
                    color:rgb(219, 29, 29);
                    border:solid 20px rgb(250, 182, 119);
                    background-color: rgb(255, 192, 119);
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width:auto;
                    height:max-content;
                    padding:6vh;
                    margin:auto;
                
                    > input, textarea
                    {
                        width: max-content;
                        height: max-content;
                        padding:15px;
                        margin: 10px;
                    }
                    >textarea
                    {
                        width: auto;
                    }
                    >.btncontactarse
                    {
                        display: block;
                        width: auto;
                        text-align: center;
                        padding: 15px;
                        border: none;   
                        margin: 10px;
                        font-size: 14px;
                        border-radius: 5px;
                        background-color: rgb(125, 125, 168);
                        color: white;
                    }
                    
                }
            }
            .PosicionPContacto
                {
                    display: flex;
                    justify-content: center;
                    margin: auto;
                    width: 50vh;         
                    >.textcontactarse
                    {
                        background-color: aliceblue;
                        border: 1px solid black;
                        font-size: 20px;
                    }
                }
        }
}
 @media only screen and (max-width: 500px)
 {
    .gridinicio
    {    
        grid-template-columns: 100%!important;
        grid-template-rows:15vh 10vh 140vh!important;
    }
     
     .navbar
     {
        display: none;
     }
        
     .hamnav 
     {
        display: inline-block;
      }
     .hamitems a {
      box-sizing: border-box;
      display: block;
      width: auto;
      border:4px solid black;
    }
    .hamnav label { 
       
      color: white;
      background: #a02620;
      font-style: normal;
      padding: 13px;
      height: 100%!important;
    }
    .hamitems
    {
        position: fixed;
        background-color: burlywood;
        text-decoration: none;
    }
    .hamitems a
    {
        border: solid black;
        width: auto;
        text-decoration: none;
        color: black;
        text-align: center;
    }
    .hamitems a:hover
    {
        background: orangered;
        color:white;
    }
    .hamitems 
    { 
        display: none; 
    }
    .hamnav input:checked ~ .hamitems 
    { 
        display: block; 
    }      
    #TitleInicio h1
     {
         font-size: 25px;
     } 
     .containercards
     {
         width: auto;
         display:flex;
         flex-direction: column;
         
     }
     #cardssection
     {
         flex-direction:column;
         margin: auto;
         width: auto;
         height: auto;

     }
     .cardinicio img
     {
         width:35vh;
         height: 25vh;
         margin: auto;
     }
     .Cardinicio-info
     {
        width: fit-content;
        margin: auto;
     }
     .Cardinicio-info h2
     {
        font-size: 18px;
        margin: auto;
     }
     .Titulo1 h1
     {
       font-size: 32px;
     }
     .gridproductos
     {    
         grid-template-columns: 100%;
         grid-template-rows: 8vh 15vh 10vh 45vh 280vh  ;
     }
     .tituloproductos
     {
        margin: auto;
        width: fit-content;
     }
     .Titulo1 h1
     {
        font-size: 30px;
     }
     .Subtitulo h2
     {
         font-size: 24px;
     }
     .Sabores
     {
         width: fit-content;
         height: fit-content;
         font-size: 12px;
         margin: fit-content;

     }
     .Sabores th
     {
        padding:0;
     }
     .Sabores td
     {
         font-size: 14px;
         height: 8vh;
         width: min-content;
         height: min-content;
     }
     .OtrosProductos h3
     {
         font-size: 21px;
         width: 20vh;
         margin-top: 10vh;
         font-weight: 700
     }
     .cardproductos img
     {
       width: 43.2vh;
       height: 20vh;
     }
     .cardsproductos
     {
         display: flex;
         flex-direction: column;
         margin: 5vh;
         width: min-content;
         height: min-content;
     }
     .cardproductos img
     {
        width: 41.2vh;
     }
     .gridsobrenosotros
     {
        grid-template-rows:7vh 40vh 20vh 90vh 65vh;
     }
     .Gif
     {
        width: 400px;
        height: 300px;
     }
     .PositionTextSN
        {
            max-width: 55vh;
        }
     .pic
        {
            display: flex;
            justify-content: center;
            margin: auto;
            width: 55vh;
            height: 40vh;
        }
     .PosicionTtleUbicacion
        {
            margin:20px;
        }
     .ContainerMap
        {
            margin:10px;
        }
     .gridubicacion
        {
            grid-template-rows:8vh 8vh 55vh 17vh;
            grid-gap: 1vh;
        }
     .cardproductos:hover
        {
            transform: scale(1.2);
            transition: 0.5s;
        }
     .gridcontactarse
        {    
         grid-template-columns: 100%;
         grid-template-rows:5vh 20vh 70vh 30vh;
        }
     .textcontactarse
        {
           width:50vh;
           font-size: 24px;
           margin: auto;
        }
        .PosicionHContacto
        {
            width: auto;
            font-size: 12px;
        }
        .headercontactarse h1
        {
            font-size: 25px;
            
        }
        .containerformcontc
        {
            width: auto;
            margin: auto;
            height: auto;
        }
        .cardinicio:hover
        {
            transform: scale(1.1);
            transition: 0.5s;
        }
 @keyframes gradient 
 {
     0% {
         background-position: 0% 0%;
     }
     50% {
         background-position: 100% 100%;
     }
     100% {
         background-position: 0% 0%;
     }
 }
}
 body
 {
     margin: auto;
     
     overflow: auto;
     animation: gradient infinite 25s ease;
     background-attachment: fixed;
 }
 body#Inicio
{
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    animation: gradient infinite 25s ease;
    background-attachment: fixed;
}
body#Productos
{
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    animation: gradient infinite 25s ease;
    background-attachment: fixed;
} 
.cardinicio:hover, .Cardinicio-info:hover
   {
    transform: scale(1.3);
    transition: 0.5s;
   }
.cardproductos:hover
    {
        transform: scale(1.3);
        transition: 0.5s;
    }
 
